# files that are build or temporary
*.mod
*.x
kkr.x*
*.exe
*~
*/*~
*.o
ALL_SOURCE_FILES/inc.p
version
version.f90
compver
*.pyc

# some array dimensions
inc.p

# files that might only be useful during development
*.png
all_incp_incudes.txt
/test/
*.py
!getversion.py
/benchmark/
*/out_timing.*.txt
*/output.*.txt

# doxygen files
/doc/

# automatic tests
.cache/
tests/test_run*

# Code coverage report
*.dyn
CODE_COVERAGE.HTML
CodeCoverage/
pgopti.dpi
pgopti.dpi.lock
pgopti.spi
pgopti.spl
HTML

# BdG developments test outputs
develop_BdG/*/run_tmat_newsolver/clusters
develop_BdG/*/run_tmat_newsolver/couplings.dat
develop_BdG/*/run_tmat_newsolver/inputcard_generated.txt
develop_BdG/*/run_tmat_newsolver/meminfo00000
develop_BdG/*/run_tmat_newsolver/out_timing.000.txt
develop_BdG/*/run_tmat_newsolver/output.000.txt
develop_BdG/*/run_tmat_newsolver/rll_atom_001_energ_001.dat
develop_BdG/*/run_tmat_newsolver/rll_source_hlk2_atom_001_energ_001.dat
develop_BdG/*/run_tmat_newsolver/rll_source_hlk_atom_001_energ_001.dat
develop_BdG/*/run_tmat_newsolver/rll_source_jlk2_atom_001_energ_001.dat
develop_BdG/*/run_tmat_newsolver/rll_source_jlk_atom_001_energ_001.dat
develop_BdG/*/run_tmat_newsolver/sll_atom_001_energ_001.dat
