*.mod
*.x
*.exe
*~
*/*~
*.o
ALL_SOURCE_FILES/inc.p
*.png
all_incp_incudes.txt
/doc/
/test/
*.py
!getversion.py
version
version.f90
compver
/benchmark/
inc.p
*/out_timing.*.txt
*/output.*.txt
*.pyc
tests/test_run/
.cache/
