# files that are build or temporary
*.mod
*.x
*.exe
*~
*/*~
*.o
ALL_SOURCE_FILES/inc.p
version
version.f90
compver
*.pyc

# some array dimensions
inc.p

# files that might only be useful during development
*.png
all_incp_incudes.txt
/test/
*.py
!getversion.py
/benchmark/
*/out_timing.*.txt
*/output.*.txt

# doxygen files
/doc/

# automatic tests
.cache/
tests/test_run*

# Code coverage report
*.dyn
CODE_COVERAGE.HTML
CodeCoverage/
pgopti.dpi
pgopti.dpi.lock
pgopti.spi
pgopti.spl
