# Compiled source #
###################
*.exe
*.o
*.mod
# Latex output #
################
*.log
*.aux
user_guide/NEW_FORMAT/main.pdf
*.swp
# scoef_maker #
###############
codes/scoef_maker/*
!codes/scoef_maker/scoef_maker.F90
!codes/scoef_maker/test_scoef
!codes/scoef_maker/makefile
